@import url("https://fonts.googleapis.com/css2?family=Afacad&family=M+PLUS+Rounded+1c:wght@500;800&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,500&family=Roboto:wght@100;700&family=Teko:wght@300;700&display=swap");
/*
$colorFondo: #2a3c46;
$colorTitulos: #db5406;
$colortexto: #fff;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
.container-header {
  background: #05496b;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.container-header header {
  max-width: 1200px;
  padding: 15px 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header header .logo a {
  text-decoration: none;
  font-size: 30px;
  color: #1CB698;
  font-weight: 700;
}
.container-header header ul {
  list-style: none;
  display: flex;
}
.container-header header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-inline: 20px;
  padding: 5px;
  text-align: none;
}
.container-header header nav ul li a:hover {
  color: #1CB698;
  font-weight: bold;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}
.container-header header nav ul li .menu-activo {
  color: #1CB698;
  font-weight: bold;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}
@media (max-width: 980px) {
  .container-header header nav {
    display: none;
  }
}
.container-header .nav-oculto {
  background-color: #1CB698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}
@media (max-width: 980px) {
  .container-header .nav-oculto {
    display: block;
  }
}
@media (max-width: 980px) {
  .container-header nav.oculto {
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    background-color: black;
    width: 200px;
  }
}
@media (max-width: 980px) {
  .container-header nav.oculto ul {
    display: block !important;
  }
}
@media (max-width: 980px) {
  .container-header nav.oculto ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
}

/* MAIN */
.main {
  background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgb(30, 35, 38)), url("../img/script.jpg");
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 70px;
  /* INICIO */
  /* SOBRE MI */
  /* HABILIDADES */
  /* CONTACTO */
  /* CURRICULUM */
}
.main .container-principal {
  background-color: #05496b;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  padding: 20px;
  border: 10px double black;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
}
.main .container-principal:hover {
  background-color: #032080;
  color: orange;
}
.main .container-principal img {
  margin-top: 40px;
  border: 5px double #1CB698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
.main .container-principal h1 {
  margin-top: 40px;
  font-size: 25px;
}
.main .container-principal h2 {
  font-size: 15px;
  font-weight: normal;
}
.main .container-principal .redesSociales a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-inline: 5px;
  margin-block: 40px;
  font-size: 20px;
}
.main .container-principal .redesSociales a:hover {
  background-color: #1CB698;
}
.main .main-sobre-mi {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.main .main-sobre-mi h2 {
  margin-top: 60px;
  font-size: 25px;
  text-align: center;
  padding-block: 20px;
}
@media (max-width: 700px) {
  .main .main-sobre-mi h2 {
    margin-top: 10px;
  }
}
.main .main-sobre-mi p {
  font-size: 17px;
  margin-bottom: 20px;
}
.main .main-sobre-mi p span {
  font-weight: bold;
  color: #1CB698;
}
@media (max-width: 700px) {
  .main .main-sobre-mi p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.main .main-sobre-mi .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "datosGenerales temasDeInteres";
}
.main .main-sobre-mi .row .datosGenerales {
  grid-area: datosGenerales;
}
.main .main-sobre-mi .row .datosGenerales h3 {
  margin-bottom: 20px;
}
.main .main-sobre-mi .row .temasDeInteres {
  grid-area: temasDeInteres;
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .temasDeInteres {
    margin-bottom: 100px;
  }
}
.main .main-sobre-mi .row .temasDeInteres h3 {
  margin-bottom: 20px;
}
.main .main-sobre-mi .row .column {
  font-size: 15px;
  margin-bottom: 25px;
}
.main .main-sobre-mi .row .column ul {
  list-style: none;
}
.main .main-sobre-mi .row .column ul li {
  margin: 12px 0;
}
.main .main-sobre-mi .row .column ul li strong {
  color: #1CB698;
  width: 130px;
  display: inline-block;
}
.main .main-sobre-mi .row .column ul li span {
  background-color: #1CB698;
  color: white;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .column ul li span {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .column ul li {
    margin: 5px 0;
  }
}
.main .main-sobre-mi .row .column .intereses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main .main-sobre-mi .row .column .intereses .interes {
  width: 100px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .main-sobre-mi .row .column .intereses .interes:hover {
  background-color: #1CB698;
}
.main .main-sobre-mi .row .column .intereses .interes i {
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .column .intereses .interes i {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .column .intereses .interes {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row .column .intereses .interes span {
    font-size: 10px;
  }
}
.main .main-sobre-mi .row .column .intereses .interes1 {
  animation-delay: 0.1s;
}
.main .main-sobre-mi .row .column .intereses .interes2 {
  animation-delay: 0.2s;
}
.main .main-sobre-mi .row .column .intereses .interes3 {
  animation-delay: 0.3s;
}
.main .main-sobre-mi .row .column .intereses .interes4 {
  animation-delay: 0.4s;
}
.main .main-sobre-mi .row .column .intereses .interes5 {
  animation-delay: 0.5s;
}
.main .main-sobre-mi .row .column .intereses .interes6 {
  animation-delay: 0.6s;
}
.main .main-sobre-mi .row .column .intereses .interes7 {
  animation-delay: 0.7s;
}
.main .main-sobre-mi .row .column .intereses .interes8 {
  animation-delay: 0.8s;
}
@media (max-width: 700px) {
  .main .main-sobre-mi .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "datosGenerales" "temasDeInteres";
  }
}
.main .main-sobre-mi button {
  cursor: pointer;
  background-color: #1CB698;
  border: 2px solid #fff;
  width: 100%;
  display: block;
  margin: 20px auto;
  padding: 10px 10px;
  font-size: 16px;
  color: white;
  position: relative;
  font-weight: bold;
  z-index: 10;
}
@media (max-width: 700px) {
  .main .main-sobre-mi button {
    margin: 0 auto;
  }
}
.main .habilidades {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
.main .habilidades h2 {
  text-align: center;
  font-weight: bold;
}
.main .habilidades .conteiner-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.main .contacto {
  margin: 10px auto;
  padding: 10px;
  background-color: #05496b;
  border-radius: 20px;
}
.main .contacto .contenido h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}
.main .contacto .contenido .fila {
  display: flex;
}
.main .contacto .contenido .fila .col {
  width: 100%;
  padding: 10px;
  position: relative;
}
.main .contacto .contenido .fila .col .datos {
  background-image: url(../img/ubicacion.png);
  min-height: 100%;
  padding: 20px;
  border: 5px double black;
}
.main .contacto .contenido .fila .col .datos ul {
  margin-top: 20px;
  list-style: none;
  text-align: center;
}
.main .contacto .contenido .fila .col .datos ul li {
  margin-bottom: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
}
.main .contacto .contenido .fila .col button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  width: 100%;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 11px;
  color: #fff;
  position: relative;
  z-index: 10;
  font-weight: bold;
  animation-name: botonEnviarMensaje;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*
  &:hover{
      background-color: $colorTitulos;
      font-weight: bold;
  }
  */
}
@keyframes botonEnviarMensaje {
  from {
    width: 60%;
    background-color: #05496b;
  }
  to {
    width: 100%;
    background-color: #1CB698;
  }
}
.main .contacto .contenido .fila .col input,
.main .contacto .contenido .fila .col textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
  color: black;
  font-weight: 700;
  font-size: 15px;
}
.main .contacto .contenido .fila .col input:focus,
.main .contacto .contenido .fila .col textarea:focus {
  background-color: rgb(247, 236, 143);
}
@media (max-width: 700px) {
  .main .contacto .contenido .fila {
    display: block;
  }
}
.main .curriculum {
  margin: auto;
  color: #fff;
  padding: 20px 20px;
  max-width: 1200px;
}
.main .curriculum .contenido h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 700px) {
  .main .curriculum .contenido h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 5px 0;
  }
}
.main .curriculum .row {
  display: flex;
  justify-content: space-between;
}
.main .curriculum .row .col {
  width: 49%;
  padding: 0 20px;
}
.main .curriculum .row .col h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .main .curriculum .row .col h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .main .curriculum .row .col {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .main .curriculum .row .col .item p {
    display: none;
  }
}
.main .curriculum .row .izq {
  border-right: 2px solid #1CB698;
}
.main .curriculum .row .der {
  border-left: 2px solid #1CB698;
}
.main .curriculum .row .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #05496b;
  position: relative;
  transition: all 0.3s;
}
.main .curriculum .row .item:hover {
  transform: scale(1.1) translateY(-5px);
  box-shadow: rgba(46, 91, 240, 0.4) 0px 5px, rgba(82, 46, 240, 0.3) 0px 10px, rgba(120, 46, 240, 0.2) 0px 15px, rgba(98, 46, 240, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.main .curriculum .row .item h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .main .curriculum .row .item h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
.main .curriculum .row .item .casa {
  color: #1CB698;
  font-size: 15px;
  font-weight: bold;
  display: block;
}
.main .curriculum .row .item .fecha {
  display: block;
  color: #1CB698;
  margin-bottom: 5px;
  font-weight: bold;
}
@media (max-width: 700px) {
  .main .curriculum .row .item {
    padding: 10px 25px;
    margin-bottom: 10px;
    background-color: #05496b;
    position: relative;
  }
}
@media (max-width: 700px) {
  .main .curriculum .row {
    display: block;
  }
}

/*  ANIMISTA    */
.vibrate-1 {
  animation: vibrate-1 0.5s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.scale-in-hor-right {
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
.scale-in-hor-left {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
.scale-in-ver-top {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}
.jello-horizontal {
  animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* FOOTER */
footer {
  background-color: #05496b;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redesSociales {
  margin-bottom: 20px;
}
footer .redesSociales a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}
footer .redesSociales a:hover {
  background-color: #1CB698;
}/*# sourceMappingURL=style.css.map */